<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         @font-face {
            font-family: 'Gilroy';
            src: url('Gilroy-Regular.ttf') format('truetype'); /* Ensure the correct path */
            font-weight: normal;
            font-style: normal;
            }

        h1 {
            font-family: 'Gilroy', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Trishul Shetty</h1>
</body>
</html>